@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #438e96;

    --background: 197 24.7% 3.44%;
    --foreground: 197 3.8% 97.15%;

    --muted: 197 19% 12.9%;
    --muted-foreground: 197 3.8% 54.3%;

    --popover: 197 60.44% 5.59%;
    --popover-foreground: 197 3.8% 97.15%;

    --card: 197 60.44% 5.59%;
    --card-foreground: 197 3.8% 97.15%;

    --border: 197 19% 12.9%;
    --input: 197 19% 12.9%;

    --primary: 197 38% 43%;
    --primary-foreground: 197 3.8% 97.15%;

    --secondary: 197 19% 12.9%;
    --secondary-foreground: 197 3.8% 97.15%;

    --accent: 197 19% 12.9%;
    --accent-foreground: 197 3.8% 97.15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 197 3.8% 97.15%;

    --ring: 197 38% 43%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
